$grey: #dddddd;
$dark-grey:rgb(70, 70, 70);
$blue: #1bbbec;
$salad: #83c717;
$pink: #F25287;
$monochrome-pink: #BF416B;
$dark-pink: #f02e6e;
$darkest-pink: #f02065;
$lightpink: #F7D9D9;
$whity: #F9F3F3;