.img-forum-cut{
    &__wrapper{
        width: 100vw;
        height: 46vh;
        overflow: hidden;
    }
    &_margin{
        margin:4.5rem 0 0 0;
    }
    width:106vw;
    height: 46vh;
    object-fit: cover;
    object-position: left;
    @media(max-width:1050px){
        width:200vw;
        height: 55vh;
    }
}
