@import '../../variables';

.item{
    position: relative;
    max-width:260px;
    height: 450px;
    margin: 1rem;
    background:$whity;
    border-radius: 10px;
    overflow: hidden;
    font-size: 1rem;
    font-weight: 700;
    list-style: none;
    box-shadow: -2px -1px 15px rgba(0, 0, 0, 0.185);
    @media(max-width:880px){
        max-width: 310px;
    }
    &__img-wrapper{
        height: 65%;
        overflow: hidden;
    }
    &__img{
        position: relative;
        width: 100%;
        height: 100%;
        object-fit: cover;
        cursor: pointer;
        object-position: bottom;
        transform-origin: center;
        z-index: 10;

        &_hide:hover{
            opacity: 0
        }
        &_bg{
            transform: translateY(-102%);
            z-index: 0;
        }
    }
    &__columns{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px;
    }
    &__text{
        color: rgb(70, 70, 70);
        // padding: 10px 10px 15px 15px;
    }
    &__sizes{
        width:80px;
        // padding: 10px 0px;
    }
    &__size{
        background-color: $whity;
        color:rgb(70, 70, 70);
        border: 1px solid rgb(70, 70, 70);
        width: 38px;
        font-size: .8rem;
        font-weight: 700;
        margin: 0 1px;
        transition: 0.4s;

        &:hover{
            background-color: rgb(70, 70, 70);
            color: $whity;
        }
        &:disabled{
            background-color: $whity;
            border: 1px solid $grey;
            color: $grey;
        }
        &_checked{
            background-color: rgb(70, 70, 70);
            color: $whity;
        }
    }

    &__label{
        position: absolute;
        // width:3rem;
        padding:.7rem;
        border-bottom-right-radius: 15px;
        color: $whity;
        z-index:40;
        
        &_new{
            background-color: $blue;
        }
        &_top{
            background-color: $salad;
            padding: .7rem .9rem;
        }
    }

}