@import '../../variables.scss';

.slider-wrapper{
    width:99vw;
    position: relative;
    z-index: 100;
}
.slick{
    &-track{
        background-color: $whity;
        height: 87vh;
        & div{
            background-color: inherit;
        }
        @media (max-width:1100px){
            height: 90vh;
        }
        @media (max-width:700px){
            height: 95vh;
        }
        @media (max-height:520px){
            height: 125vh;
        }
        @media (max-height:340px){
            height: 135vh;
        }
    }
    &-dots{
        z-index: 10;
        bottom: 2vh;
        height:15px;
        & li button {
            &::before{
                line-height: 0;
                font-size: 1.5rem;
            }
        }
    }
    &-arrow{
        z-index: 10;
        background: none;
    }
    &-prev, &-next{
        position: absolute;
        top:40%;
    }
    &-prev{
        left: 1rem;
        @media (max-width:520px){
            left: .5rem;
        }
    }
    &-next{
        right: 3rem;
        @media (max-width:520px){
            right: 2.8rem;
        }
    }
    &-prev::before,
    &-next::before{
        font-size: 3rem;
        color:rgba(78, 78, 78, 0.5);
    }
}
