@import '../../variables.scss';

.slick{
    &-list{
    }
    &-track{
        padding-top: 8vh;
        background-color: $whity;
        height: 98vh;
        & div{
            background-color: inherit;
        }
    }
    &-dots{
        z-index: 10;
        background-color: $whity;
        bottom: 0px;
        height:15px;
        padding-bottom: 20px;
        & li button {
            background: $whity;
            &::before{
                line-height: 0;
                font-size: 1.5rem;
            }
        }
    }
    &-arrow{
        z-index: 10;
        background: none;
    }
    &-prev{
        left: 1rem;
    }
    &-next{
        right: 3rem;
    }
    &-prev::before,
    &-next::before{
        font-size: 3rem;
        color:rgba(78, 78, 78, 0.5);
    }
    &-slide{
        background-color: $whity;
        height: 98%;
        overflow:hidden;
    }
}

.slider-card{
    border-top: 1px solid rgb(199, 199, 199);
    border-left: 1px solid rgb(199, 199, 199);
    border-bottom: 1px solid rgb(199, 199, 199);
    font-weight: 700;
    display: block;

    &__column{
        display: flex;
    }
    &__btn{
        width: 200px;
        background-color: $pink;
        color:$whity;
        font-size: 1.3rem;
        font-weight: 700;
        padding: 12px;
        border: none;
        &:hover{
            background-color: $darkest-pink;
        }
        &:active{
            background-color: $pink;
        }
    }

    &__img{
        width: 100%;
        height: 60vh;
        object-fit: cover;
        object-position: bottom;
        // padding: 0px 0px 10px;
        background: $whity;
    }
    &__text{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        height: 150px;
        color: rgb(70, 70, 70);
        width:100%;
        padding: 0px 30px;
        & li{
            padding: 3px 0px;
            list-style: none;
            font-size: 1.5rem;
        }
    }

}